<div class="index-wrapper">
  <div class="container">
    <div class="row">
      <div class="index-header">
        <div class="col-xs-12">
          <h2>Top Netflix Videos</h2>
        </div>
      </div>
      <div class="index-header">
        <div class="col-xs-12 filter">
          <div>
            <%= form_tag(videos_path, method: :get, class: "text-left") do %>
              <%= select_tag "media_type",
                options_for_select(@media_type,
                :selected => params[:media_type]),
                 class: "form-top" %>
              <%= select_tag "popularity",
                options_for_select(@popularity,
                :selected => params[:popularity]),
                 class: "form-top" %>
              <%= select_tag "genre_ids",
                options_for_select(@genre_ids,
                :selected => params[:genre_ids]),
                class: "form-top" %>
              <%= submit_tag 'Filter', name: nil, class: "btn btn-success" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row-cards">
      <% n = 1 %>
      <% @videos.sort_by { |e| [e[:avg_vote], e[:popularity], e[:release_date]] }.reverse.each do |video| %>
        <%# if video.popularity >= 0 %>
        <%# if video.popularity >= 20 && video.media_type == "movie" %>
        <%# if video.popularity >= 0 && video.genre_ids.include?(99) %>
        <div class="col-xs-12 col-sm-6 col-lg-4">
          <div class="card-wrapper">
            <div class="card-top">
              <div class='card-title'>
                <h3><%= video.title if video.title.length < 50 %></h3>
                <h5><%= video.title if video.title.length > 50 %></h5>
              </div>
              <div class='card-ranking'><%= n %></div>
            </div>
            <div class="card-body">
              <div class='card-image'>
                <img src="https://image.tmdb.org/t/p/w154<%= video.image_path %>" alt=<%= video.title %> >
              </div>
              <div class='card-info'>
                <% if video.media_type == "movie" %>
                  <p>Movie <i class="fa fa-film"></i></p>
                <% end %>
                <% if video.media_type == "tv" %>
                  <p>TV show <i class="fa fa-television"></i></p>
                <% end %>
                <p>Genre:

                  <% genres_hash = {
                    "28" => "Action",
                    "12" => "Adventure",
                    "16" => "Animation",
                    "35" => "Comedy",
                    "80" => "Crime",
                    "99" => "Documentary",
                    "18" => "Drama",
                    "10751" => "Family",
                    "14" => "Fantasy",
                    "36" => "History",
                    "27" => "Horror",
                    "10402" => "Music",
                    "9648" => "Mystery",
                    "10749" => "Romance",
                    "878" => "Science Fiction",
                    "10770" => "TV Movie",
                    "53" => "Thriller",
                    "10752" => "War",
                    "37" => "Western",
                    "10759" => "Action & Adventure",
                    "10762" => "Kids",
                    "10763" => "News",
                    "10764" => "Reality",
                    "10765" => "Sci-Fi & Fantasy",
                    "10766" => "Soap",
                    "10767" => "Talk",
                    "10768" => "War & Politics" } %>

                  <% video.genre_ids.each do |id| %>
                    <% if video.genre_ids.last == id %>
                      <%= genres_hash[id.to_s] %>
                    <% else %>
                      <%= genres_hash[id.to_s] %>,
                    <% end %>
                  <% end %>
                </p>
                <p>Rating: <%= video.avg_vote %> <i class="fa fa-star"></i></p>
                <p>Popularity: <%= video.popularity %> <i class="fa fa-level-up"></i></p>
                <p>Release: <%= video.release_date %></p>
                <p><%= link_to "synopsis", video_path(video) %></p>
              </div>
            </div>
          </div>
        </div>
        <% n += 1 %>
      <% end %>
    </div>
  </div>
</div>

