
<div class="container">

  <div class="top">
    <h1 id="header">List of Videos</h1>
  </div>

  <!-- <div class="container"> -->
    <% n = 1 %>
    <% @videos.sort_by { |e| e[:avg_vote] }.reverse.each do |video| %>

      <div class="col-xs-12">
      <!-- <div class="col-xs-12 col-sm-6 col-md-4"> -->
        <div class="product">
          <div class='product-upvote'>
            <div class='product-count'><%= n %>.</div>
          </div>
          <div class='title'>
            <h3><%= video.title %></h3>
          </div>
            <div class='product-body'>
                <%#= link_to (cl_image_tag video.photo, height: 300, width: 400, crop: :fit), video_path(video) %>
              <p>Media type: <%= video.media_type %></p>
            </div>
            <div class='product-body'>
              <p>Release date: <%= video.release_date %></p>
            </div>
            <div class='product-body'>
              <p>Popularity: <%= video.popularity %></p>
            </div>
            <div class='product-body'>
              <p>Average vote: <%= video.avg_vote %></p>
            </div>
              <!-- <p>Overview: <%#= video.overview %></p> -->
            <div class='product-body'>
              <p><%= link_to "details", video_path(video) %></p>
            </div>
        </div>
      </div>
      <% n += 1 %>
    <% end %>
  <!-- </div> -->
</div>

    <div class="container">
      <div class="product">
        <!-- You product code here -->
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'>95</div>
        </div>
        <img class="product-image" src="images/kudoz.jpg">
        <div class='product-body'>
          <h3>Kudoz</h3>
          <p>Tinder for job search</p>
        </div>
        <ul class="product-controls list-inline ">
          <li><a href=""><i class="fa fa-heart"></i></a></li>
          <li><a href=""><i class="fa fa-share"></i></a></li>
          <li><a href=""><i class="fa fa-star"></i></a></li>
        </ul>
      </div>
    </div>
